@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    background-color: #ccfaca;
    color: #0D3B66;
}

#formRegistro {
    width: 30%;
    background-color: #ccfaca;
    border-style: dashed;
    border-color: #9bbd9b;
    border-radius: 5s0px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type=text],
[type=password],
[type=email] {
    border-style: solid;
    border-width: 1px;
    border-color: #33DAFF;
    border-radius: 3px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    font-weight: bold;
}

.boton {
    border-style: none;
    background-color: #0D3B66;
    color: #FAF0CA;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
}

.error {
    background-color: (256, 40, 0, 0.2);
}

#errores {
    color: rgb(20, 13, 44);
    font-style: italic;
    font-size: 12px;
    text-align: center;
}